<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
</head>
<body>
  <h1>Add a Book</h1>
  <form action="/add-book" method="POST">
    <label>Title:</label>
    <input type="text" name="title" required><br><br>
    <label>Author:</label>
    <input type="text" name="author" required><br><br>
    <button type="submit">Add Book</button>
  </form>
  <a href="/">Back to book list</a>
</body>
</html>